<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #2D2D2D" >
        <div class="col-md-9" >
           <a href="javascript:void(0);" (click)="navigate('start')" ><h5>Ward Management</h5></a>
           <div *ngIf="isAdmin">
              <a href="javascript:void(0);" (click)="navigate('addward')">
              <i class="far fa-plus-square"  >Add Ward</i>
              </a>
              <a  style="margin-left: 10px;" href="javascript:void(0);" (click)="navigate('user')">
              <i class="fas fa-users-cog"  >User Management</i>
              </a>
              <a  style="margin-left: 10px;" href="javascript:void(0);" (click)="navigate('history')">
              <i class="fas fa-history"  >User History</i>
              </a>
           </div>
        </div>
        <div class="col-md-3">
           <span style="float: right;">Logged in as <b>{{loggesInUser}}</b></span>
           <span style="padding: 6px;display: inherit;margin-left: 190px;"><a  href="javascript:void(0);" (click)="navigate('logout')">Logout</a></span>
        </div>
     </header>