<div class="container">

<input type='text' style='margin:15px auto;width:30%;font-size: small;'
placeholder='Filter based on UserID'
(keyup)='updateFilter($event)' />

<ngx-datatable
#table
class='material striped'

[columnMode]="'force'"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[limit]="10"
[rows]='rows'>

<ngx-datatable-column name="User ID" prop="userid" ></ngx-datatable-column>
<ngx-datatable-column name="Room No" prop="roomNo" ></ngx-datatable-column>
<ngx-datatable-column name="Time In" prop="optedIn" ></ngx-datatable-column>
<ngx-datatable-column name="Time Out" prop="optedOut" ></ngx-datatable-column>
<ngx-datatable-column name="Time Spend(Minute)" prop="timeSpend" ></ngx-datatable-column>

</ngx-datatable>
<br/>
<div class="form-group">
    <a  routerLink="/dashboard"><button type="button" class="btn btn-primary btn-sm">Back</button></a>
    </div>

</div>