<div class="form-body" class="container-fluid">

  <div class="row">
     <div class="img-holder">
        <div class="bg"></div>
        <div class="info-holder">
           <img src="../../assets/icon/login-wall.jpg" alt="">
        </div>
     </div>
     <div class="form-holder">
        <div class="form-content">
           <div class="form-items">
              <h3>Ward Management System</h3>
              
              <div class="page-links">
                 <a (click)="toggleMode('login');" href="javascript:void(0);" class="active">Login</a><a (click)="toggleMode('register');" href="javascript:void(0);">Register</a>
              </div>
    
              <form *ngIf=" mode=='login' " #loginForm="ngForm"   (ngSubmit)="login()">
                  <input type="roomNo" class="form-control" id="username" type="text" placeholder="Username" name="username" [(ngModel)]="user.username">
                  <input type="password" class="form-control" id="password" placeholder="Password" type="password" name="password" [(ngModel)]="user.password">
                  <div class="form-button">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
              
              <form *ngIf=" mode=='register' " #registerForm="ngForm"  (ngSubmit)="register()">
                  <input type="text" class="form-control" id="username" placeholder="Username" name="username" [(ngModel)]="user.username">
                  <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="user.password">
                  <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm password" name="confirmpassword" [(ngModel)]="confirmpassword">
                  <div class="form-button">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
             
           </div>
        </div>
     </div>
  </div>
</div>