<div style="float:right;">
    <span style="color: white;padding: 54px;">Logged in as <b>{{loggesInUser}}</b></span>
    <span style="padding: 6px;display: inherit;margin-left: 103px;"><a href="javascript:void(0);" (click)="logout();">Logout</a></span>
</div>

<section id="team" class="pb-5">
    <div class="container" style="background-color: black;">
        <h5 class="section-title h1" style="color: white;">WARDS</h5>
        <span *ngIf="isAdmin">
            <a  style="color: white;" routerLink="/addroom">
                <i class="far fa-plus-square">Add Ward</i>
            </a>
             <a  style="margin-left: 10px;color: white;" routerLink="/usermanage">
                <i class="fas fa-users-cog">User Management</i>
            </a>
            <a  style="margin-left: 10px;color: white;" routerLink="/history">
                <i class="fas fa-history">User History</i>
            </a>
        </span>
        <br/><br/>
        <div class="row">
            <room *ngFor="let r of rooms" [room]="r" ></room>
        </div>
    </div>
</section>