
   

<div class="layout-page-side-outer">
    <div class="layout-page-side" style="top: 30px;">
        <div class="layout-page-side-inner">
            <div class="layout-page-filters">
              
                <div class="issues-filters-header">
                    <h3>Filters</h3></div>
                <div class="search-navigator-facets-list">
                   
                    <div class="search-navigator-facet-box">
                        <div class="search-navigator-facet-header-wrapper">
                           <span class="search-navigator-facet-header">
                              <a  (click)="toggle()">
                                <i class=" {{expand && 'fas fa-chevron-down fa-xs' || 'fas fa-chevron-right fa-xs'}}" style="margin: 2px;"></i>
                                 <!-- react-text: 79 -->Type<!-- /react-text -->
                              </a>
                           </span>
                           <span class="search-navigator-facet-header-value spacer-left spacer-right "></span>
                        </div>
                        
                        <div class="search-navigator-facet-list" *ngIf="expand">
                                <a *ngFor="let typ of types" (click)="toggleselection(typ)" class="facet search-navigator-facet js-facet {{typ.selected && 'active' || '' }}" data-value="BUG">
                                  <span class="facet-name"> {{typ.name}}</span>                                  
                                </a>                               
                        </div>

                     </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>




